<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public-key</key>
	<data>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvn55x/AJfNHZxmqAjBu8IG4SsVS4nzP0ARZAtw9IOLYUcbTHdU0Xz2XYu3C9dECRwuKGuO5KghAr8hWY0zKfboKtSBzlUfw+tLZgsdNHe28MjP6S+nOkrnvyh7agB9rKU9KapuB6F62RWGB/MprQTh5oEJoahcYR65cOfZ+OG36oTjV21grAbbXmhL4ihhKyy3dX9RWMudsFisz2H5PEPwcK8rn9zPkWCQYVUEEowIWahWEjdXkfT36Sr55hpV9IsLW0U1MTbR5orQk9caFwi8wtfSUXgsvvBw85wWHzyd/lUX4tVMfLEjD1ZgzUgwJJ6379Ay9U6cqILOButSJE+QIDAQAB</data>
	<key>public-key-size</key>
	<integer>4096</integer>
	<key>signature-by</key>
	<string>Jaguar Linux</string>
</dict>
</plist>
