<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public-key</key>
	<data>LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlJQklqQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FROEFNSUlCQ2dLQ0FRRUF2bjU1eC9BSmZOSFp4bXFBakJ1OApJRzRTc1ZTNG56UDBBUlpBdHc5SU9MWVVjYlRIZFUwWHoyWFl1M0M5ZEVDUnd1S0d1TzVLZ2hBcjhoV1kwektmCmJvS3RTQnpsVWZ3K3RMWmdzZE5IZTI4TWpQNlMrbk9rcm52eWg3YWdCOXJLVTlLYXB1QjZGNjJSV0dCL01wclEKVGg1b0VKb2FoY1lSNjVjT2ZaK09HMzZvVGpWMjFnckFiYlhtaEw0aWhoS3l5M2RYOVJXTXVkc0Zpc3oySDVQRQpQd2NLOHJuOXpQa1dDUVlWVUVFb3dJV2FoV0VqZFhrZlQzNlNyNTVocFY5SXNMVzBVMU1UYlI1b3JRazljYUZ3Cmk4d3RmU1VYZ3N2dkJ3ODV3V0h6eWQvbFVYNHRWTWZMRWpEMVpnelVnd0pKNjM3OUF5OVU2Y3FJTE9CdXRTSkUKK1FJREFRQUIKLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg==</data>
	<key>public-key-size</key>
	<integer>2048</integer>
	<key>signature-by</key>
	<string>TigerClips1 &lt;spongebob1966@proton.me&gt;</string>
</dict>
</plist>
